@use "mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    @apply font-bold
}

h1 {
    @apply text-3xl
}

h2 {
    @apply text-2xl
}

h3 {
    @apply text-xl
}

h4 {
    @apply text-lg
}

h5 {
    @apply text-base
}

h6 {
    @apply text-sm
}

hr {
    @apply my-2 dark:border-slate-600
}

/* custom elements */

body {
    @apply bg-white text-black
            dark:bg-slate-900 dark:text-neutral-50
}


/* buttons */
.btn {
    @apply px-4 py-2 rounded-xl
}

.btn.blue {
    @include mixins.button("blue")
}

.btn.green {
    @include mixins.button("green")
}

.btn.red {
    @include mixins.button("red")
}

/* control forms */

input.control, textarea.control {
    @apply px-4 py-2 rounded-xl border
            dark:bg-slate-900 dark:border-slate-600
}

input.control:read-only, textarea.control:read-only {
    @apply bg-gray-50 text-gray-500
    dark:bg-slate-800 dark:text-slate-400
}

input.control:read-only:focus-visible, textarea.control:read-only:focus-visible {
    @apply outline-none
}